@import 'utils/utils';
@import 'utils/normalize';
@import 'utils/variables';
@import 'components/main page/header';
@import 'components/main page/mobile-menu';
@import 'components/main page/preferences';
@import 'components/main page/statistics';
@import 'components/main page/slider';
@import 'components/main page/team';