@import 'utils/utils';
@import 'utils/normalize';
@import 'utils/variables';
@import 'components/main page/header';
@import 'components/main page/mobile-menu';
@import 'components/main page/preferences';
@import 'components/main page/statistics';
@import 'components/main page/slider';
@import 'components/main page/team';
@import 'components/main page/icon-list';
@import 'components/main page/consult';
@import 'components/main page/form-screen';
@import 'components/main page/footer';
@import 'components/contacts/contacts';
@import 'components/services/ovd';
@import 'components/services/pollution';