
.wrapper-contacts{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    @media screen and (min-width: $desktop) {    
        max-width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.contact-company-name{
    margin-left: 55px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 900;
    color: $main-color;
}

.contact-img{
    max-width: 420px;
    @media screen and (min-width: $desktop) {
      max-width: 900px;
    }
}

.contacts-list{
    margin-top: 15px;
    @media screen and (min-width: $desktop) {
        margin-top: 50px;
        margin-left: 50px;    
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.contacts-item{
    display: flex;
    align-items: center;
    padding: 10px;
}

.contacts-link{
    color: $main-color;
    @media screen and (min-width: $desktop) {
    font-size: 20px;
    font-weight: 600;
    }
        &:hover,
        &:focus {
            color: $heading-color;
            transition: color $duration $timing-function;
            
     }
     
}

.form-screen-contacts{
    margin-bottom: 50px;
    @media screen and (max-width: $desktop) {
        height: fit-content;
    }
}

.connect-icons{
    fill: $main-color;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    @media screen and (min-width: $desktop) {
        width: 32px;
        height: 32px;
    }
    &:hover,
    &:focus {
        fill: $heading-color;
        transition: color $duration $timing-function;
    }
}

.form-contacts{
    background-image: url(../images/background-contacts-mobile-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 150px;
}

.cont-form{
    background-color: $input-background;
}

#cont-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @media screen and (min-width: $desktop) {
        flex-direction: row;
        padding-bottom: 50px;
        align-items: self-start;
        justify-content: start;
        gap: 100px;
    }
   
}

.map-block{
    max-height: 250px;
    max-width: 400px;
    @media screen and (min-width: $desktop) {
        width: 600px;
        height: 480px;
    }
}

.google-map{
    margin-top: 15px;
    border: none;
    width: 400px;
   height: 250px;
    @media screen and (min-width: 1200px) {
        width: 600px;
        height: 480px;
        margin-top: 0;
        margin-bottom: 0;
    }

}

.pre-footer-img{
    @media screen and (min-width: $desktop) {
     display: block;
     max-width: 100%;
       overflow-y: hidden;

    }
}

.cont-footer{
    margin-top: 0;
}