.consult{
    position: relative;
    background-image: url(../images/7-3-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text-block{
    position: absolute;
    max-width: 240px;
    max-height: 150px;
    bottom: 80px;
    right: 0;
    background-color: $alt-background-color;
    opacity: 0.6;
}

.consult-descr{
    font-size: 16px;
    font-weight: 600;
    color: $title-color;
}