.consult{
    position: relative;
    background-image: url(../images/7-3-5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text-block{
    position: absolute;
    width: 100%;
    height: 168px;
    bottom: 0px;
    left: 0px;
    background-color: $alt-background-color;
    opacity: 0.85;
    text-align: center;
   
}

.consult-descr{
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
    color: $chocolate-color;
    padding: 15px;
   
}