.consult{
    position: relative;
    background-image: url(../images/7-3-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text-block{
    position: absolute;
    max-width: 250px;
    max-height: 150px;
    bottom: 60px;
    right: 0;
    // background-color: beige;
    // opacity: 0.5;
}

.consult-descr{
    font-size: 19px;
    font-weight: 600;
    color: $title-color;
}