.consult{
    position: relative;
    background-image: url(../images/7-3-5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    @media screen and (min-width: $desktop) {
        background-image: none;
        height: fit-content;
    }
}

.counsult-container{
    @media screen and (min-width: $desktop) {
        padding-top: 50px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: center;
        margin-right: 15px;
    }
}

.consult-img{
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
        max-width: 500px;
    }
}

.consult-text{
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
        max-width: 650px;
        max-height: fit-content;
        background-color: $alt-background-color;
        opacity: 0.85;
        text-align: center;
        border-radius: 5px;
        margin-right: 5%;
        
    }
}

.text-block{
    position: absolute;
    width: 100%;
    height: 168px;
    bottom: 0px;
    left: 0px;
    background-color: $alt-background-color;
    opacity: 0.85;
    text-align: center;
    @media screen and (min-width: $desktop) {
        display: none;
    }
   
}

.consult-descr{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: $title-color;
    padding: 25px;
    @media screen and (min-width: $desktop) {
        font-size: 23px;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 15px;
    }
}

.page-header-block{
    text-align: center;
    background-color: $alt-background-color;
    border-radius: 5px;
 
    @media screen and (min-width: $desktop) {
       max-width: 100%;
    }
}

.page-header-text{
    font-size: 20px;
    text-transform: uppercase;
    color: $title-color;
    padding: 10px;
    @media screen and (min-width: $desktop) {
        font-size: 25px;
    }
}