.footer{
    display: block;
    background-color: $main-color;
    max-height: 140px;
    z-index: 50;
    @media screen and (min-width: $desktop) {
        margin-top: 20px;
    }
}

.footer-container{
    width: 100%;
    background: $main-color;
    display: flex;
    align-items: center;
    max-height: 160px;
}

.footer-logo{
    
    height: 100px;
   
}

.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    @media screen and (min-width: $desktop) {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        
    }
}

.footer-item{
    display: flex;
    padding: 5px;
    @media screen and (min-width: $desktop) {
        align-items: baseline;
        padding: 15px;
     }
}

.footer-contacts-link{
    display: flex;
    flex-direction: row-reverse;
    max-width: 300px;
    color: $alt-text-color;
    font-size: 14px;
    &:hover,
    &:focus {
        color: $heading-color;
        transition: color $duration $timing-function;
    }
    @media screen and (min-width: $desktop) { 
        font-size: 16px;
        align-items: baseline;
    }
}

.btn{
    position: fixed;
    right: 15%;
    bottom: 30px;
    cursor: pointer;
    border-radius: 10px;
    background-color: $phone-color;
    color: $chocolate-color;
        &:hover,
        &:focus {
            background-color: $heading-color;
            color: $alt-text-color;
            transition: color $duration $timing-function;
        }
    @media screen and (min-width: $desktop) {
        right: 5%;
    }
}

.btn-hide {
    display: none;
}

.connect__icons {
    padding: 0;
    height: 16px;
    width: 16px; 
    fill: currentColor;
    margin-right: 10px;
}