.footer{
    margin-top: 20px;
    background-color: $main-color;
    max-height: 140px;
}

.footer-container{
    width: 100%;
    background: $main-color;
    display: flex;
    align-items: center;
    max-height: 160px;
}

.footer-logo{
    
    height: 100px;
   
}

.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    @media screen and (min-width: $desktop) {
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}

.footer-item{
    padding: 5px;
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
        padding: 15px;
     }
}

.footer-contacts-link{
    color: $alt-text-color;
    font-size: 14px;
    @media screen and (min-width: $desktop) { 
        font-size: 18px;
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
    }
}

.btn{
    position: fixed;
    right: 15%;
    bottom: 30px;
    cursor: pointer;
    border-radius: 10px;
    background-color: $phone-color;
    color: $chocolate-color;
}

.btn-hide {
    display: none;
}

.connect__icons {
    padding: 0;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
}