.form-screen{
    margin-top: 50px;
    height: 100vh;
    @media screen and (min-width: $desktop) {
        height: fit-content;
    }
}

.container-form{
    display: flex;
    justify-content: space-between;
}

.form-header{
    font-size: 24px;
    font-weight: 600;
    color: $chocolate-color;
    text-align: center;
    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.form-headers{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    color: $chocolate-color;
    text-align: center;
}

 .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    max-width: 400px;
    @media screen and (min-width: $desktop) {
        max-width: 700px;
        margin-top: 0;
    }
    // @media screen and (min-width: $desktop) {
    //     flex-direction: row;
    //     max-width: 500px;
    //     flex-wrap: wrap;
    //     align-items: baseline;
    //     justify-content: center;
    // }
}
    
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
    
.input,
.text-area {
    width: 320px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    @media screen and (min-width: $desktop){
            width: 500px;
        }
}

// .input{
//     @media screen and (min-width: $desktop) {
//         display: flex;
//         width: 100%;
        
//     }
//     @media screen and (min-width: 1200px) {
//         width: 320px;
//         margin-left: 30px;
//     }
// }

// .input:first-child{
//     @media screen and (min-width: 1200px) {
//         margin-left: 0;
//     }
// }

// .text-area{
//     @media screen and (min-width: $desktop) {
//         margin-top: 10px;
//         width: 1020px;
//         height: 300px;
//     }
// }
    
.form-button {
    background-color: $title-color;
    color: $alt-text-color;
    border: none;
    padding: 10px;
    width: 135px;
    border-radius: 5px;
}
    
.form-container button:hover {
    background-color: $subtitle-color;
}

.book-img{
    margin-top: 20px;
    @media screen and (min-width: $desktop) {
        margin-top: 0;
    }
}