.form-screen{
    margin-top: 50px;
    height: 100vh;
    
    @media screen and (min-width: $desktop) {
        height: fit-content;
    }
}

.container-form{
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-around;
    }

}



.form-header{
    font-size: 24px;
    font-weight: 600;
    color: $chocolate-color;
    text-align: center;
    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.form-headers{
    display: none;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    color: $chocolate-color;
    text-align: center;
    @media screen and (min-width: $desktop) {
            display: block;
        }
}

 .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    @media screen and (min-width: $desktop) {
        margin-top: 0;
        max-width: 900px;
    }

}
    
.form-container label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}
    
.input,
.text-area {
    width: 320px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    @media screen and (min-width: $desktop){
            width: 500px;
        }
}
   
.form-button {
    margin-top: 30px;
    background-color: $title-color;
    color: $alt-text-color;
    border: none;
    padding: 10px;
    width: 135px;
    border-radius: 5px;
}
    
.form-container button:hover {
    background-color: $heading-color;
    color: $alt-text-color;
}

.error{
    color: red;
    font-size: 700;
}

.book-img{
    margin-top: 20px;
    @media screen and (min-width: $desktop) {
        margin-top: -100px;
        max-height: 377px;
    }
}