.form-screen{
    margin-top: 50px;
    height: 100vh;
}

.form-header{
    font-size: 24px;
    font-weight: 600;
    color: $title-color;
    text-align: center;
}


 .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    max-width: 400px;
}
    
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
    
.input,
.text-area {
    width: 320px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    
.form-container button {
    background-color: $title-color;
    color: $alt-text-color;
    border: none;
    padding: 10px;
    width: 135px;
    border-radius: 5px;
}
    
.form-container button:hover {
    background-color: $subtitle-color;
}

.book-img{
    margin: 0 auto;
}