.header{
    background-color: $main-color;
}

.header__container{
    max-width: 100%;
}


.nav {
    display: flex;
    align-items: center;
    z-index: 1000;
    height: 80px;
    @media screen and (min-width: $desktop) {
        position: sticky;
    }

}


.logo__image{
    max-width: 160px;
}

.nav__list{
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $alt-text-color;
  } 
}

.nav__item{
    display: block;
    margin-left: 50px;
}

.nav__item:first-child {
    margin-left: 88px;

    @media screen and (min-width: $desktop) {
        margin-left: 93px;
    }
}    

.nav__link{
    position: relative;
    padding: 32px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $alt-text-color;

    &:hover,
    &:focus {
        color: $heading-color;
        fill: $heading-color;
        transition: color $duration $timing-function;
    }
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: $main-color;
    list-style: none;
    padding: 10px 0;
    border-radius: 5px;
    margin-left: -100px;

}

.submenu__item{
    margin: 0;
}

.submenu__link{
    display: block;
    padding: 8px 20px;
    color: $alt-text-color;
        &:hover,
        &:focus {
            color: $heading-color;
            transition: color $duration $timing-function;
        }
}

.dropdown:hover .submenu {
    display: block;
}

.submenu a:hover {
    background-color:$main-color;
}


.header-wrapper{
    display: flex;
    align-items: baseline;
    margin-left: auto;
}


.tel-number{
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
        color: $alt-text-color;
        margin-right: 25px;
        margin-left: 25px;
            &:hover,
            &:focus {
                color: $heading-color;
                transition: color $duration $timing-function;
        }
    }
}

.language-select {
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border-color: $main-color;
    color: $chocolate-color;
    cursor: pointer;
    &:hover,
    &:focus {
            color: $alt-text-color;
            transition: color $duration $timing-function;
    }
}
