.header{
    background-color: $main-color;
}

.header__container{
    max-width: 100%;
}


.nav {
    display: flex;
    align-items: center;
    max-height: 80px;
}


.logo__image{
    max-width: 160px;
}

.nav__list{
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $alt-text-color;
  } 
}

.nav__item{
    display: block;
    margin-left: 50px;
}

.nav__item:first-child {
    margin-left: 88px;

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}    

.nav__link{
    position: relative;
    padding: 32px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $alt-text-color;

    &:hover,
    &:focus {
        color: $accent-hover-color;
        fill: $accent-hover-color;
        transition: color $duration $timing-function;
    }
}

.language-select {
    margin-top: 10px;
    margin-left: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: $main-color;
}

.option{
    font-weight: 700;
    color: $chocolate-color;
}

// .language-toggle {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     margin-left: auto;
// }

// .language-toggle .flag {
//     width: 36px;
//     height: 20px;
//     background-size: cover;
// }

// .flag.ua {
//     background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Ukraine.svg');
// }

// .flag.uk {
//     background-image: url('https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg');
// }

// .switch {
//     position: relative;
//     display: inline-block;
//     width: 40px;
//     height: 20px;
// }

// .switch input {
//     opacity: 0;
//     width: 0;
//     height: 0;
// }

// .switcher {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: $title-color;
//     border-radius: 15px;
//     transition: 0.4s;
// }

// .switcher:before {
//     position: absolute;
//     content: "";
//     height: 14px;
//     width: 14px;
//     left: 3px;
//     bottom: 3px;
//     background-color: $alt-text-color;
//     border-radius: 50%;
//     transition: 0.4s;
// }

// input:checked+.switcher:before {
//     transform: translateX(20px);
// }