
.icon-screen{
    position: relative;
    background-image: url(../images/background-sceen-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 370px;
    @media screen and (min-width: $desktop) {
        background-image: url(../images/background-desktop-sceen-2.png);
        margin-top: 0;
      
    }
}

.icon-list{
   padding-top: 100px;
   padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
//     max-width: 250px;
//    margin: 0 auto;
    @media screen and (min-width: $desktop) {
        padding-top: 20%;
        padding-bottom: 20%;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        align-items: baseline;
      
    }
}

.icon-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

 
}

.document-icon{
    padding-top: 10px;
    padding-left: 10px;
    width: 100px;
    height: 100px;
    fill: $alt-text-color;
    background-color: $subtitle-color;
    border: 4px solid $alt-text-color;
    border-radius: 50%;
}

.icon-title{
    margin-top: 25px;
    font-size: 22px;
    font-weight: 500;
    color: $alt-text-color;
    @media screen and (min-width: $desktop) {
        font-size: 26px;
        max-width: 250px;
    }
}