.preferences{
    position: relative;
    background-image: url(../images/background-sceen-1.png);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh;
    padding-top: 120px;
}

.title__wrap{
   max-width: 200px;
    margin: 0 auto;
}

.preferences__title{
    font-size: 22px;
    font-weight: 400;
    color: $title-color;
    line-height: 1.5;
}

.accent__title{
    font-weight: 700;
    color: $title-color;
}

.subtitle__wrap{
    margin-top: 80px;
    margin: 0 auto;
    max-width: 200px;;
}

.subtitle{
    color: $subtitle-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.book__img{
    margin-top: -20px;
    max-width: 150px;
    margin-left: auto;
    @media screen and (min-width: 1200px) {
        display: none;
    }
}