.preferences{
    position: relative;
    background-image: url(../images/background-sceen-1.png);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 94vh;
    padding-top: 100px;
}

.title__wrap{
   max-width: 245px;
   margin-left: 10%;
    
}

.preferences__title{
    margin-top: -25px;
    margin-left: 25px;
    font-size: 25px;
    font-weight: 400;
    color: $title-color;
    line-height: 1.5;
    animation: fadeIn 1s ease-in-out forwards;
    
}

.accent__title{
    font-weight: 700;
    color: $title-color;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInWord {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.subtitle__wrap{
    margin-top: 80px;
    margin: 0 auto;
    max-width: 245px;;
}

.subtitle{
    color: $subtitle-color;
    margin-left: 25px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 21px;
    line-height: 2;
    animation: fadeIn 3s ease-in-out forwards;
}

.book__img{
    margin-top: 20px;
    max-width: 150px;
    margin-right: auto;
    rotate: 180deg;
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.arrow__down{
    position: absolute;
    width: 50px;
    right: 10px;
    bottom: 5px;
    background-color: transparent;
}