.preferences{
    position: relative;
    background-image: url(../images/background-sceen-1-1.png);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 94vh;
    padding-top: 70px;
        @media screen and (min-width: $desktop) {
            display: flex;
            align-items: center;
            padding-top: 0;
            background-image: url(../images/background-desktop-sceen-1.png);

        }
}

.pref-container{
    display: flex;
    justify-content: space-around;
        
}

.title__wrap{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
   max-width: 220px;
   margin-right: 50px;
    @media screen and (min-width: $desktop) {
        max-width: 350px;
        margin-left: 0;
        
    }

}

.preferences__title{
    font-size: 25px;
    font-weight: 700;
    color: $title-color;
    line-height: 1.5;
        @media screen and (min-width: $desktop) {
            font-size: 28px;
        
        }
}
.normal{
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: $title-color;
     animation: fadeIn 5s ease-in-out forwards;
    margin-bottom: 15px;
   
}

.subtitle__wrap {
    
    max-width: 250px;
}

.subtitle {
    margin-top: 15px;
    color: $subtitle-color;
    margin-left: 34px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.5;
    animation: fadeIn 5s ease-in-out forwards;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.book__img{
    margin-top: 20px;
    max-width: 150px;
    margin-right: auto;
    rotate: 180deg;
    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.desktop-img{
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
        max-width: 350px;
        height: auto;  
    }
         @media screen and (min-width: 1200px) {
            max-width: 500px;
         }
}

.fa-phone{
   color: $phone-color;
        &:hover,
        &:focus {
           scale: 1.2;
        }
}

 .pulse {
    position: absolute;
    cursor: pointer;
    bottom: 25%;
    right: 40px;
    background: $chocolate-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 40px;
        &:hover,
        &:focus {
            background-color: $heading-color;
        }        
    @media screen and (min-width: $desktop) {
        bottom: 10%;
    }
 }
