.preferences{
    position: relative;
    background-image: url(../../../images/background-sceen-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 155vh;
    padding-top: 50px;
}

.title__wrap{
    max-width: 400px;
    margin: 0 auto;
}

.preferences__title{
    font-size: 46px;
    font-weight: 400;
    color: $title-color;
    line-height: 2;
}

.accent__title{
    font-weight: 700;
    color: $title-color;
}

.subtitle__wrap{
    margin-top: 80px;
    margin: 0 auto;
    max-width: 400px;
}

.subtitle{
    color: $subtitle-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 2;
}

.book__img{
    position: absolute;
    right: 0;
    bottom: 0;
}