.preferences{
    position: relative;
    background-image: url(../images/background-sceen-1.png);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 94vh;
    padding-top: 100px;
}

.title__wrap{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
   max-width: 220px;
   margin-left: 16%;
}

.preferences__title{
    font-size: 25px;
    font-weight: 700;
    color: $title-color;
    line-height: 1.5;
  
}
.normal{
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: $title-color;
     animation: fadeIn 5s ease-in-out forwards;
    margin-bottom: 15px;
   
}

.subtitle__wrap {
    max-width: 250px;
    ;
}

.subtitle {
    color: $subtitle-color;
    margin-left: 34px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.5;
    animation: fadeIn 5s ease-in-out forwards;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.book__img{
    margin-top: 20px;
    max-width: 150px;
    margin-right: auto;
    rotate: 180deg;
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

 .pulse {
    position: absolute;
    cursor: pointer;
    bottom: 10%;
    right: 20px;
    background: $subtitle-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 40px;
    &:hover,
    &:focus {
        background-color: $main-color;
    }
 }

//  @keyframes spin {
//      0% {
//          transform: rotate(0deg);
//      }

//      100% {
//          transform: rotate(360deg);
//      }
//     }     


.arrow__down{
    position: absolute;
    width: 50px;
    right: 10px;
    bottom: 5px;
    background-color: transparent;
}