.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.sidebar>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.slider-name{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -30px;
    margin-left: 10px;
}

.main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.slide{
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        @media screen and (min-width: $desktop) {
            background-size: 80%;
            background-position: left;
        }
}


#slide1{
    background-image: url(../images/1-1.jpg);
}

#slide2{
    background-image: url(../images/2-3.jpg);
}

#slide3 {
    background-image: url(../images/6-3.jpg);
   
}

#slide4{
    background-image: url(../images/5-3-1.png);
}

#slide5{
    background-image: url(../images/4-3.png);
}

#slide6{
    background-image: url(../images/5-3-2-1.png);
}


@media screen and (min-width: $desktop) {
    #slide1{
        background-image: url(../images/1-1-desktop.jpg);
    }
    #slide2{
        background-image: url(../images/2-1-desktop.jpg);
    }
    #slide3{
        background-image: url(../images/6-3-desktop.jpg);
        
    }
    #slide4{
        background-image: url(../images/5-1-desktop.jpg);
    }
    #slide6{
        background-image: url(../images/5-3-2-1-desktop.jpg);
    }
}



button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .controls button {
    position: absolute;
    left: 35%;
    top: 60%;
    z-index: 100;
}

.slider-container .controls .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .controls .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}