.statistics{
    position: relative;
    height: 75vh;
    margin-top: 100px;
    margin-bottom: 100px;
    @media screen and (min-width: $desktop) {
        position: static; 
        margin-bottom: 250px;
    }
}

.stat-container{
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 105px;
    position: absolute;
    @media screen and (min-width: $desktop) {
        max-width: 175px;
        position: static;
        
    }
}

.box:nth-child(1) {
    bottom: 305px;
    left: 270px;
    @media screen and (min-width: $desktop) {
        margin-bottom: 300px;
    }

}

.box:nth-child(2){
    bottom: 160px;
    left: 140px;
}

.box:nth-child(3) {
    bottom: 10px;
    left: 10px;
    @media screen and (min-width: $desktop) {
        margin-top: 300px;
    }
}

.chart-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 105px;
    height: 105px;
    border-radius: 10px;
    text-align: center;
    background-color: $heading-color;
    @media screen and (min-width: $desktop) {
        width: 175px;
        height: 175px;
    }
}

.number{
    color: $alt-text-color;
    font-size: 30px;
    font-weight: 700;
    @media screen and (min-width: $desktop) {
        margin-top: 25px;
        font-size: 35px;
    }
}

.descr{
    margin-top: 5px;
    color: $alt-text-color;
    font-size: 15px;
    @media screen and (min-width: $desktop) {
            font-size: 22px;
        }
}

.arrow{
    width: 100px;
    @media screen and (min-width: $desktop) {
        width: 200px;
    }
}