.team{
    height: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (min-width: $desktop) {
        height: fit-content;
        width: 100%;
    }
}

.our-team{
    font-size: 24px;
    font-weight: 600;
    color: $heading-color;
    text-transform: uppercase;
    @media screen and (min-width: $desktop) {
        text-align: center;
        font-size: 26px;
    }
}

.team-pic-blur{
    max-width: 250px;
    @media screen and (min-width: $desktop) {
        max-width: 550px;
    }
}

.team-pic{
    max-width: 250px;
    margin-top: 20px;
    margin-left: 20%;
    @media screen and (min-width: $desktop) {
        max-width: 550px;
        margin-top: -80px;
    }
}

.team-lead-block{
    max-width: 350px;
    @media screen and (min-width: $desktop) {
        max-width: 780px;
        margin-top: 20px;
        display: flex;
        gap: 20px;
    } 
}

.about-block{
    
    max-width: 250px;
   @media screen and (min-width: $desktop) { 
        max-width: 100%;
    }
}

.about-team{
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    color: $main-color;
    max-width: 150px;
    text-align: left;
    animation: animateTransform 4s ease-in-out forwards;
    @media screen and (min-width: $desktop) {
        font-size: 21px;
        max-width: 100%;
    }
}

.team-lead-pic{
    max-width: 200px;
    margin-top: -220px;
    margin-left: auto;
    @media screen and (min-width: 1200px) {
        max-width: 500px;
        margin-top: -600px;
        margin-left: 58%;
    }
}

@keyframes animateTransform {
    0% {
        transform: translateX(0);
        opacity: (0);
    }

    100% {
        transform: translateX(25px);
        opacity: (1);
    }
}