.team{
    height: 100vw;
    padding-top: 70px;
}

.our-team{
    font-size: 24px;
    font-weight: 600;
    color: $heading-color;
    text-transform: uppercase;
}

.team-pic-blur{
    max-width: 250px;
}

.team-pic{
    max-width: 250px;
    margin-top: 20px;
    margin-left: 20%;
}

.team-lead-block{
    max-width: 480px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
  
}

.about-team{
    margin-top: 25px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
    max-width: 250px;
    text-align: left;
    animation: animateTransform 4s ease-in-out forwards;;
}

.team-lead-pic{
    max-width: 250px;
    margin-top: -50px;
}

@keyframes animateTransform {
    0% {
        transform: translateX(0);
        opacity: (0);
    }

    100% {
        transform: translateX(25px);
        opacity: (1);
    }
}