.ovd-text{
    padding: 50px 15px;
    line-height: 1.3;
}

.ovd-paragraph{
    font-size: 16px;
    margin-bottom: 10px;
    text-indent: 3ch;
}

.ovd-paragraph.pilcrow{
    text-indent: 0;
    display: inline;
}

.ovd-paragraph.pilcrow+.ovd-paragraph.pilcrow::before{
    content: " ¶ ";
}

.ovd-list{
    margin-top: 35px;
    margin-bottom: 20px;
}

.ovd-item{
  
    margin: 5px;
    display: flex;
    font-size: 16px;
}


.ovd-item::before{
    content: 'V';
    font-weight: 900;
    margin-right: 10px;
    color: #bd9479;
}

.main-title{
    font-weight: 700;
    color: $heading-color;
    text-decoration: underline;
}


.left-img-mob{

    @media screen and (min-width: $desktop) {
        display: none;
    }
}
.left-img{
    display: none;
@media screen and (min-width: $desktop) {
    display: block;
        max-width: 390px;
        float: left;
        margin-right: 50px;
    }
}

.ovd-heading{
    display: inline-block;
    max-width: fit-content;
    margin-top: 30px;
    margin-bottom: 10px;
   text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: $title-color;
    @media screen and (min-width: $desktop) {
        margin-left: 50px;
        text-align: left;
    }
    
}

.ovd-accent{
    color: $heading-color;
    text-decoration: underline;
}

.ovd-accent>a:visited{
    color: $heading-color;
    text-decoration: underline;
    cursor: pointer;
}

.ovd-heading-second{
    display: inline-block;
    max-width: fit-content;
    margin-top: 45px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: $title-color;
    @media screen and (min-width: $desktop) {
        margin-left: 50px;
        text-align: left;
    }
}

.right-img{
    margin-top: 30px;
    @media screen and (min-width: $desktop) {
        max-width: 700px;
        float: right;
        margin-bottom: 15px;
        margin-left: 15px;
    }
}

.ovd-list-number{
    list-style-type: decimal;
}

.sub-list-item{
    margin: 15px 0;
    
}

.sub-list-item::before{
    content: 'V';
    font-weight: 900;
    margin-right: 10px;
    color: $marks-color;
}

.list-number{
    margin-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.list-number-item{
    margin: 15px 0;
}

.left-img-second{
    @media screen and (min-width: $desktop) {
        max-width: 500px;
        float: left;
        margin-top: 15px;
        margin-right: 50px;
    }
}

.text-columns{
    margin-bottom: 35px;
    background: linear-gradient($marks-color, $alt-background-color);;
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        margin-top: 50px;
    }
}

.column-wrapper{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        @media screen and (min-width: $desktop) {
                margin-top: 25px;
                padding: 50px 0;
                flex-direction: row;
                justify-content: space-around;
     }
}

.column{
    max-width: 100%;
    @media screen and (min-width: $desktop) {
     max-width: 43%;
    }
}


.column-text{
    font-size: 16px;
    margin-bottom: 10px;
    text-indent: 3ch;
    text-align: justify;
}

.column-text.pilcrow {
    text-indent: 0;
    display: inline;
}

.column-text.pilcrow+.column-text.pilcrow::before{
    content: " ¶ ";
}

.column-span{
    text-decoration: underline;
}

.text-backround{
    padding: 15px 15px;
    margin: 0 auto;
    background-color: $alt-background-color; 
    border-radius: 5px;
        @media screen and (min-width: $desktop) {
            max-width: 85%;
        }
}
.last{
    text-align: justify;
    margin-top: 25px;
    @media screen and (min-width: $desktop) {
        margin: 50px;
    }
}

.colum-paragraph{
    padding-bottom: 40px;
    text-align: center;
}

.information{
    display: flex;
}


.info{
    max-width: 40px;
    max-height: 40px;
    margin-left: 45%;
    fill: $heading-color;
    @media screen and (min-width: $desktop) {
        margin-top: 60px;
        padding: 5px;
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.pre-form-title{
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.container-form-ovd{
    flex-direction: column;
    @media screen and (min-width: $desktop) {
        padding-top: 0;
        justify-content: center;
        flex-direction: row;
    }
}


.cont-form-ovd{
    background-color: $text-background;
}

.img-block{
   
    max-width: fit-content;
    margin-left: 0;

}

