.permission-texts{
    padding: 20px 10px;
}

.bold-accent{
    font-weight: 700;
}

.permission-right-img{
    @media screen and (min-width: $desktop) {
         max-width: 450px;
    }
}

.permission-img-two{
    margin-left: auto;
    width: 550px;
}

.permission-accent{
    display: inline-block;
    font-size: 16px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.perm-container{
    gap: 0;
    justify-content: flex-end;
   
}

.permission-text{
    padding: 15px;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
        flex-direction: row;;
        justify-content: space-around;
        align-items: center;
    }
}

.trash-background{
    max-width: 750px;
}

.perm-img-right{
    max-width: 100%;
}