.permission-texts{
    padding: 20px 15px;
}

.bold-accent{
    font-weight: 700;
}

.left-img-trash{
    @media screen and (max-width: $desktop) {
        width: 100%;
    }
}

.permission-right-img{
    @media screen and (min-width: $desktop) {
         max-width: 450px;
    }
}

.permission-img-two{
    margin-left: auto;
    width: 550px;
}

.permission-accent{
    margin-bottom: 15px;
    margin-top: 165px;
    max-width: 125px;
}
.permission-accent>h2{
    font-size: 16px;
    margin-left: 25px;
    @media screen and (min-width: $desktop) {
    margin-left: 36%;
    }
}
.permission-paragraph {
    margin-top: 15px;
}

.perm-container{
    gap: 0;
    justify-content: flex-end;
   
}

.permission-text{
    padding: 15px;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop) {
        flex-direction: row;
        justify-items: right;
        align-items: center;
    }
}

.trash-background{
    max-width: 750px;
}

.perm-img-right{
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
        max-width: 360px;
        margin-left: 50px;
    }
}