
.pol-img{
    margin-top: 0;
    margin-right: 0;
    @media screen and (min-width: $desktop) {
        margin-right: 25px;
        max-width: 450px;
    }
}

.pol-list{
    @media screen and (min-width: $desktop) {
     margin-top: 70px;
    }
}

.pollution-text{
    padding-top: 25px;
    padding-left: 15px;
}
.pollution-accent{
    color: $title-color;
    font-weight: 700;
}

.pollution-text-block{
    margin-top: 25px;
}

.abzats{
    margin-left: 35px;
    
}

.text-with-backround{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: $alt-background-color;
    border-radius: 8px;
    @media screen and (min-width: $desktop) {
        margin-top: 20px;
        margin-bottom: 100px;
        margin-left: 25px;
        max-width: 85%;
    }

}

.underline{
    text-decoration: underline;
    font-weight: 700;
}

.under{
    text-decoration: underline;
}

.left-img-pol-second{
    max-width: 100%;
    @media screen and (min-width: $desktop) {
     max-width: 350px;
     margin-right: 20px;
    }
}

.not-abzats{
    text-indent: 0;
    text-align: justify;
}

.pol-right-img{
    margin-top: 0;
    margin-left: 25px;
}

.space{
    margin-top: 15px;
    margin-bottom: 15px;
    @media screen and (min-width: $desktop) {
        margin-top: 130px;
        margin-bottom: 50px;
    }
}

.pol-title{
    @media screen and (min-width: $desktop) {
        margin-top: 75px;
    }
}