
.left-img-trash{
    display: block;
    max-width: 100%;
    @media screen and (min-width: $desktop) {
        max-width: 500px;
        margin-right: 25px;
    }
}

.trash-title{
    text-decoration: none;
}

.trash-accent{
    display: inline;
    color: $title-color;
    text-decoration: underline;
}

.trash-accent>a:visited{
    display: inline;
    color: $title-color;
}

.trash-item{
    font-size: 16px;
    margin-bottom: 10px;
}

.trash-item::before {
    content: 'V';
    font-weight: 900;
    margin-right: 10px;
    color: #bd9479;
}

.trash-text{
    line-height: 1.4;
    padding-bottom: 10px;
}

.trash-text-block{
    margin-top: 30px;
    @media screen and (min-width: $desktop) {
     margin-top: 120px;
    }
}

.column-span-bold{
    font-weight: 700;
    text-decoration: underline;
}

.trash-right-img{
        display: none;
    @media screen and (min-width: $desktop) {
        display: block;
        margin-top: 100px;
        margin-left: 25px;
        max-width: 300px;
    }
}

.second{
    margin-top: 30px;
    @media screen and (min-width: $desktop) {
        margin-top: 20px;
     
    }
}

.trash-background{
    max-width: 100%;
     @media screen and (min-width: $desktop) {
         max-width: 1100px;
     }
}

.trash-gallery{
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: center;
        overflow: hidden;
        
    }
}

.gallery-item{
    max-width: 100%;
    @media screen and (min-width: $desktop) {
        max-width: 350px;
        overflow-y: hidden;
        flex-shrink: 1;
    }
}

.trash-gallery-item{
    @media screen and (min-width: $desktop) {
    max-height: 280px;
    }
}

.third{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 25px;
        margin-right: 15px;
        @media screen and (min-width: $desktop) {
                margin-top: 25px;
               margin-bottom: 50px;
            }
}

.meeting-img{
    margin-bottom: 75px;
}