.waste-water-img{
    display: block;
    max-width: 100%;
    @media screen and (min-width: $desktop) {
     max-width: 450px;
     margin-right: 25px;
    }
}

.wastewater-gallery{
    margin: 25px 0;
}

.wastewater-gallery>li{
    @media screen and (min-width: $desktop) {
     max-height: 265px;
    }
}