$main-color: #745f4e;
$title-color: #6f491f;
$subtitle-color: #875825;
$alt-text-color: #fff;
$accent-hover-color: #c3c3c3;
$alt-background-color: #f8e2c9;
$box-color: #ffe8da;
$heading-color: #538135;
$chocolate-color: #423731;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
