$main-color: #745f4e;
$title-color: #6f491f;
$subtitle-color: #875825;
$alt-text-color: #fff;
$marks-color: #bd9479;
$alt-background-color: #f8e2c9;
$phone-color: #f0ece6;
$box-color: #ffe8da;
$heading-color: #538135;
$chocolate-color: #423731;
$input-background: #c6b3a2;
$text-background: #ccb596;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
$desktop: 768px;